.value-header{
    margin: 0px;
    padding: 0px;
}

.token-header{
    margin: 0%;
    padding: 0px 0px 0px 0px;
}

.time-gas{
    padding: 0%;
    margin: 0%;
}

.progress{
    display: none;
    justify-content: center;
}

#fav-address-header-row{
    margin: 0%;
    padding: 0%;
}

#fav-address-row{
    margin: 0%;
    padding: 0%;
}

#note{
    width: 80%;
}