/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body{
    font-family: 'Varela Round', sans-serif;
}

.value-header{
    margin: 0px;
    padding: 0px;
}

.value{
    margin: 0px;
    padding: 0px;
}

.time-gas{
    padding: 0%;
    margin: 0%;
}

.progress{
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#mobile-header{
    color: black;
}

#all-trans-header{
    display: none;
}

.fav-address-header-row{
    margin-bottom: 0;
}

.search-address-header-row{
    margin-bottom: 0;
}

#note{
    width: 80%;
    height: 133px;
}

.modal{
    background-color: #868686;
    color: black;
    padding: 10px;
    width: 700px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    -webkit-box-shadow: 0 20px 50px rgba(0, 128, 128, 0.7);
            box-shadow: 0 20px 50px rgba(0, 128, 128, 0.7);
}

.modal-content{
    background-color: #868686;
}

.modal-footer{
    background-color: #868686;
}

.modal-footer a{
    color: black;
}

#favourites-container-desktop{
    display: block;
}

#favourites-container-mobile{
    display: none;
}

#search-container-desktop{
    display: block;
}

#search-container-mobile{
    display: none;
}

@media only screen and (max-width: 1000px){
    #all-trans-header{
        display: block;
    }

    #favourites-container-desktop{
        display: none;
    }

    #favourites-container-mobile{
        display: block;
        height: 90vh;
        border: 5px solid black;
    }

    #search-container-desktop{
        display: none;
    }
    
    #search-container-mobile{
        display: block;
        height: 90vh;
        border: 5px solid black;
    }

    #all-transaction-header-container{
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 400px){
    .brand-logo{
        font-size: small;
    }

    .value-header{
        font-size: x-large;
    }

    .time-gas h5{
        font-size: small;
    }

    .transaction-container{
        padding-top: 50px;
    }
}