body{
    font-family: 'Varela Round', sans-serif;
}

.close-button{
    
}

.brand-logo{
    
}

.value-header{
    margin: 0px;
    padding: 0px;
}

.value{
    margin: 0px;
    padding: 0px;
}

.time-gas{
    padding: 0%;
    margin: 0%;
}

.progress{
    display: none;
    justify-content: center;
}



.fav-address-header-row{
    margin-bottom: 0;
}

.search-address-header-row{
    margin-bottom: 0;
}

#note{
    width: 80%;
    height: 133px;
}

.modal{
    background-color: #868686;
    color: black;
    padding: 10px;
    width: 700px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0, 128, 128, 0.7);
}

.modal-content{
    background-color: #868686;
}

.modal-footer{
    background-color: #868686;
}

.modal-footer a{
    color: black;
}

#favourites-container-desktop{
    display: block;
}

#favourites-container-mobile{
    display: none;
}

#search-container-desktop{
    display: block;
}

#search-container-mobile{
    display: none;
}

@media only screen and (max-width: 1000px){
    #favourites-container-desktop{
        display: none;
    }

    #favourites-container-mobile{
        display: block;
        height: 400px;
    }

    #search-container-desktop{
        display: none;
    }
    
    #search-container-mobile{
        display: block;
        height: 400px;
    }
}

@media only screen and (max-width: 400px){
    .brand-logo{
        font-size: small;
    }

    .value-header{
        font-size: xx-large;
    }
    .time-gas h5{
        font-size: xx-small;
    }

    #fav-address-header-row{
        font-size: xx-small;
    }

    #fav-address-row{
        font-size: xx-small;
    }
}