{% extends 'base.html' %} {% block title %}403{% endblock %}

{% block content %}

<div class="container responsive">
    <div class="row">
        <div class="col s6">
            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_5zs3qrld.json" mode="bounce" background="transparent"  speed="1"  style="width: 100%; height: 100%;"  loop  autoplay></lottie-player>
        </div>
        <div class="col s6">
            <h2>Access Denied</h2>
            <span>Unfortunately you are not able to view this page with your current credentials.</span><br><br>
            <span>Please log in to view transactions.</span><br><br>
        </div>
    </div>
</div>


{% endblock %}