<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blockchain Dashboard{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap">
    <link rel="stylesheet" href="../static/style.css"/>
</head>
<body>
    <!-- Start of navbar -->
    {% if session['user'] %}
    <nav class="teal lighten-2">
        <div class="container">
            <a href="#" class="brand-logo left">#HASHBOARD</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <!-- Reset confirmation trigger -->
                <li><a class="waves-effect waves-light modal-trigger btn-small" data-target="signout-confirmation">Log Out</a></li>

                <!-- Reset Confirmation Modal Structure -->
                <div id="signout-confirmation" class="modal" >
                    <div class="modal-content">
                        <h4>Are you sure you would like to log out?</h4>
                        <p class="center">Saved transactions will remain until you log back in.</p>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('signout') }}" class="modal-close waves-effect waves-green btn-small">Log Out</a>
                        <a href="#" class="modal-close waves-effect waves-green btn-small">Cancel</a>
                    </div>
                </div>
            </ul>
            <ul class="sidenav" id="mobile-demo">
                <li><h4 class="center" id="mobile-header">#HASHBOARD</h4></li>
                <li><a class="waves-effect waves-light modal-trigger btn-small" data-target="signout-confirmation-mobile">Log Out</a></li>
                <!-- Reset Confirmation Modal Structure -->
                <div id="signout-confirmation-mobile" class="modal" >
                    <div class="modal-content">
                        <h4>Are you sure you would like to log out?</h4>
                        <p class="center">Saved transactions will remain until you log back in.</p>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('signout')}}" class="modal-close waves-effect waves-green btn-small">Log Out</a>
                        <a href="#" class="modal-close waves-effect waves-green btn-small">Cancel</a>
                    </div>
                </div>
            </ul>
        </div>
    </nav>
    {% else %}
    <nav class="teal lighten-2">
        <div class="container">
            <a href="#" class="brand-logo left">#HASHBOARD</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="waves-effect waves-light btn-small" href="/login">Log In</a></li>
                <li><a class="waves-effect waves-light btn-small" href="/signup">Sign Up</a></li>
            </ul>
            <ul class="sidenav" id="mobile-demo">
                <li><h4 class="center" id="mobile-header">#HASHBOARD</h4></li>
                <li><a class="waves-effect waves-light btn-small" href="/login">Log In</a></li>
                <li><a class="waves-effect waves-light btn-small" href="/signup">Sign Up</a></li>
            </ul>
        </div>
    </nav>
    {% endif %}
    <!-- End of navbar -->

    <!-- Start of flash message banner -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, msg in messages %}
                {% if category == 'error' %}
                <div class="alert-danger red lighten-2 center">
                    <span class="alert-text">{{ msg }}</span>
                    <span class="closebtn right" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
                {% else %}
                <div class="alert-success green lighten-2 center">
                    <span class="alert-text">{{ msg }}</span>
                    <span class="closebtn right" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- End of flash message banner -->
    
    <div class="container">
        {% block content %}
        
        {% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="https://kit.fontawesome.com/a805a6e313.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="../static/app.js"></script>

</body>
</html>