{% extends 'base.html' %} {% block title %}Error{% endblock %}

{% block content %}

{% if session['user'] %}
<div class="container responsive">
    <div class="row">
        <div class="col s6">
            <h1>Error</h1>
            <p>{{e}}</p>
            <a class="waves-effect waves-green btn-small" href="{{url_for('hashboard')}}">Back to home</a>
        </div>
        <div class="col s6">
            <lottie-player src="https://assets7.lottiefiles.com/datafiles/QTlPpc31DnGUTW0/data.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
        </div>
    </div>
</div>
{% else %}
<div class="container responsive">
    <div class="row">
        <div class="col s6">
            <h1>Error</h1>
            <p>{{e}}</p>
            <a class="waves-effect waves-green btn-small" href="{{url_for('login')}}">Back to login</a>
        </div>
        <div class="col s6">
            <lottie-player src="https://assets7.lottiefiles.com/datafiles/QTlPpc31DnGUTW0/data.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}