{% extends 'base.html' %} {% block title %}Favourite{% endblock %}

{% block content %}

<div class="container-fluid center">
    <form method="POST" action="{{ url_for('favourite', transaction_id=transaction['_id'])}}">
        <div class="row time-gas">
            <h5>{{transaction['time']}}</h5>
        </div>
        <div class="row">
            <h1 class="value-header">{{transaction['value']}} {{transaction['token_symbol']}}</h1>
        </div>
        <div class="row" id="fav-address-header-row">
            <div class="col s4"><h6>Sender</h6></div>
            <div class="col s4"><h6>Hash</h6></div>
            <div class="col s4"><h6>Reciever</h6></div>
        </div>
        <div class="row" id="fav-address-row">
            <div class="col s4"><a href="https://etherscan.io/address/{{transaction['from']}}" target="_blank"><h6>{{ shorten(transaction['from']|safe) }}</h6></a></div>
            <div class="col s4"><a href="https://etherscan.io/tx/{{transaction['hash']}}" target="_blank"><h6>{{ shorten2(transaction['hash']|safe) }}</h6></a></div>
            <div class="col s4"><a href="https://etherscan.io/address/{{transaction['to']}}" target="_blank"><h6>{{ shorten(transaction['to']|safe) }}</h6></a></div>
        </div>
        <div class="row">
            <label for="note">Add description to save transaction:</label><br>
            <textarea id="note" name="note" required>{{transaction['note']}}</textarea><br>
        </div>
        <!--Submit button-->
        <button class="waves-effect waves-light btn-small" type="submit">Save</button>
        <!--Cancel button-->
        <a class="waves-effect waves-light btn-small" href="{{url_for('hashboard')}}">Cancel</a>
    </form>
</div>

{% endblock %}