{% extends 'base.html' %} {% block title %}Home{% endblock %}

{% block content %}
    <h5 class="center">Favourites</h5>
    <!--Start of desktop favourites-->
    <div class="container-fluid" id="favourites-container-desktop">
        <table class="responsive-table highlight centered" id="favourites-table">
            <thead>
                <tr class="bg-dark text-white">
                    {% for header in favourites_table_headings %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for data in favourites_list %}                
                    <tr>
                        <td>{{ data['time']|safe }}</td>
                        <td  title={{ data['hash'|safe] }}>
                            <a class="" href="https://etherscan.io/tx/{{data['hash']}}" target="_blank">{{ shorten2(data['hash']) }}</a>
                        </td>
                        <td title={{ data['to'|safe] }}>
                            <a href="https://etherscan.io/address/{{data['to']}}" target="_blank">{{ shorten(data['to']|safe) }}</a>
                        </td>
                        <td title={{ data['from'|safe] }}>
                            <a href="https://etherscan.io/address/{{data['from']}}" target="_blank">{{ shorten(data['from']|safe) }}</a>
                        </td>
                        <td title={{ data['value'|safe] }}>{{ data['value'] }}</td>
                        <td>
                            <a href="https://etherscan.io/address/{{data['contract_address']}}" target="_blank">{{ data['token_symbol']}}</a>
                        </td>
                        <td>{{ data['gas_price']|safe }}</td>
                        <td>{{ data['note']|safe }}</td>
                        <td>
                            <a href="{{ url_for('favourite', transaction_id=data._id) }}"><i class="material-icons-outlined">edit</i></a>
                        </td>
                        <td>
                            <!-- Delete Confirmation Trigger Structure -->
                            <a class="waves-effect waves-light modal-trigger" href="#delete-modal-{{data._id}}" data-id="{{ data._id }}"><i class="material-icons">delete_outline</i></a>

                            <!-- Delete Confirmation Modal Structure -->
                            <div id="delete-modal-{{data._id}}" class="modal" >
                                    <div class="modal-content">
                                        <h4>Are you sure you would like to delete this transaction?</h4>
                                        <p>This action cannot be reversed.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ url_for('delete_favourite', transaction_id=data._id) }}" class="modal-close waves-effect waves-green btn-small">Delete</a>
                                        <a href="#" class="modal-close waves-effect waves-green btn-small">Cancel</a>
                                    </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!--Start of desktop search table-->
        <div class="container-fluid" id="search-container">
            <table class="responsive-table highlight centered" id="search-table">
                <caption>
                    <h5>All Transactions</h5>
                    <a href="{{ url_for('search') }}" class="waves-effect waves-light btn-small">Search</a>
                    <!-- Reset Confirmation Trigger Structure -->
                    <a class="waves-effect waves-light modal-trigger btn-small" data-target="reset-confirmation">Reset</a>

                    <!-- Reset Confirmation Modal Structure -->
                    <div id="reset-confirmation" class="modal" >
                        <div class="modal-content">
                            <h4 id="reset-h4">Reset your transactions?</h4>
                            <p>Don't worry, your favourites will remain visible.</p>
                            <p>This action cannot be reversed.</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ url_for('clear')}}" class="modal-close waves-effect waves-green btn-small">Reset</a>
                            <a href="#" class="modal-close waves-effect waves-green btn-small">Cancel</a>
                        </div>
                    </div>
                </caption>
                <thead>
                    <tr class="bg-dark text-white">
                        {% for header in transaction_table_headings %}
                        <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for data in transactions_list %}                
                        <tr>
                            <td>{{ data['time']|safe }}</td>
                            <td title={{ data['hash'|safe] }}>
                                <a href="https://etherscan.io/tx/{{data['hash']}}" target="_blank">{{ shorten2(data['hash']) }}</a>
                            </td>
                            <td title={{ data['to'|safe] }}>
                                <a href="https://etherscan.io/address/{{data['to']}}" target="_blank">{{ shorten(data['to']|safe) }}</a>
                            </td>
                            <td title={{ data['from'|safe] }}>
                                <a href="https://etherscan.io/address/{{data['from']}}" target="_blank">{{ shorten(data['from']|safe) }}</a>
                            </td>
                            <td title={{ data['value'|safe] }}>{{ data['value'] }}</td>
                            <td>
                                <a href="https://etherscan.io/address/{{data['contract_address']}}" target="_blank">{{ data['token_symbol']}}</a>
                            </td>
                            <td>{{ data['gas_price']|safe }}</td>
                            <td>{{ data['gas_used']|safe }}</td>
                            <td>
                                <a href="{{ url_for('favourite', transaction_id=data._id) }}"><i class="material-icons">favorite_border</i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <!--End of desktop search table-->
    </div>
    <!--End of desktop favourites-->

    <!--Start of mobile favourites-->
    <div class="carousel carousel-slider center" id="favourites-container-mobile" data-indicators="true">
        {% if favourites_list %}
            {% for data in favourites_list %}
            <div class="container carousel-item" href="#" style="min-height: 375px;">
                <div class="container transaction-container">
                    <div class="row time-gas">
                        <h5>{{data['time']}}</h5>
                    </div>
                    <div class="row value">
                        <h1 class="value-header">{{data['value']}} {{data['token_symbol']}}</h1>
                    </div>
                    <div class="row fav-address-header-row">
                        <div class="col s12"><h5>Hash: </h5><a href="https://etherscan.io/tx/{{data['hash']}}" target="_blank"><h5>{{ shorten2(data['hash']|safe) }}</h5></a></div>
                    </div>
                    <div class="row"><p>Note: {{data['note']}}</p></div>
                    <div class="row">
                        <a href="{{ url_for('favourite', transaction_id=data._id) }}">
                            <i class="material-icons">edit</i>
                        </a>
                        <a href="{{ url_for('delete_favourite', transaction_id=data._id) }}">
                            <i class="material-icons">delete_outline</i>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="container carousel-item" href="#" style="min-height: 375px; position: absolute; top: 50%;">
            <div class="container transaction-container">
                <div class="empty-header">
                    <span>No favorite transactions to display</span>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <!--End of mobile favourites-->
    <div class="container center" id="all-transaction-header-container">
        <h5 class="center" id="all-trans-header">All Transactions</h5>
        <a href="{{ url_for('search') }}" class="waves-effect waves-light btn-small">Search</a>
        <a class="waves-effect waves-light modal-trigger btn-small" data-target="reset-confirmation">Reset</a>
    </div>

    <!--Start of mobile search table-->

    <div class="carousel carousel-slider center" id="search-container-mobile" data-indicators="true">
        {% if transactions_list %}
            {% for data in transactions_list %}
            <div class="carousel-item" href="#" style="min-height: 250px;">
                <div class="container transaction-container">
                    <div class="row time-gas"><h5>{{data['time']}}</h5></div>
                    <div class="row value"><h1 class="value-header">{{data['value']}} {{data['token_symbol']}}</h1></div>
                    <div class="row" id="search-address-header-row">
                        <div class="col s12"><h5>Hash: </h5><a href="https://etherscan.io/tx/{{data['hash']}}" target="_blank"><h5>{{ shorten2(data['hash']|safe) }}</h5></a></div>
                    </div>
                    <div class="row">
                        <a href="{{ url_for('favourite', transaction_id=data._id) }}"><i class="material-icons">favorite_border</i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="carousel-item" href="#" style="min-height: 250px; position: absolute; top: 50%;">
            <div class="empty header">
                <span>Search to add transactions</span>
            </div>
        </div>
        {% endif %}
    </div>
    <!--End of mobile search table-->

{% endblock %}