{% extends 'base.html' %} {% block title %}Home{% endblock %}

{% block content %}

<h2>Session Variables: {{ session['logged_in'] }}</h2>

<h4>{{ session['user']['name']}}'s Profile</h4>

<p>{{ session['user'] }}</p>

<div class="container-fluid md-2 mb-2" id="transaction-table">
            <div class="table-responsive">
                <table class="table table-bordered table-success table-striped table-hover caption-top" data-toggle="table" data-patination="true" data-page-length='10' data-search="true" id="ethTable">
                    <caption>Ethereum Transactions</caption>
                    <thead>
                        <tr class="bg-dark text-white">
                            {% for header in transaction_table_headings %}
                            <th>{{ header }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in transactions %}                
                            <tr>
                                <td>
                                    <label for="star-icon" class="custom-checkbox">
                                    <input type="checkbox" id="star-icon"/>
                                    <i class="glyphicon glyphicon-star-empty"></i>
                                    <i class="glyphicon glyphicon-star"></i></label>
                                </td>
                                <td>{{ data['time']|safe }}</td>
                                <td data-bs-toggle="tooltip" 
                                    data-bs-placement="bottom" 
                                    title={{ data['hash'|safe] }}>{{ shorten2(data['hash']) }}</td>
                                <td data-bs-toggle="tooltip" 
                                    data-bs-placement="bottom" 
                                    title={{ data['to'|safe] }}>{{ shorten(data['to']|safe) }}</td>
                                <td data-bs-toggle="tooltip" 
                                    data-bs-placement="bottom" 
                                    title={{ data['from'|safe] }}>{{ shorten(data['from']|safe) }}</td>
                                <td data-bs-toggle="tooltip" 
                                    data-bs-placement="bottom" 
                                    title={{ data['value'|safe] }}>{{ data['value'] }}</td>
                                {% if data['token_symbol'] %}
                                <td><a href="{{data['website']}}">{{ data['token_symbol']}}</a></td>
                                {% else %}
                                <td>Eth</td>
                                {% endif %}
                                <td>{{ data['gas_price']|safe }}</td>
                                <td>{{ data['gas_used']|safe }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}