{% extends 'base.html' %} {% block title %}Home{% endblock %}

{% block content %}

    <div class="container-fluid" id="favourites-container">
        <table class="responsive-table highlight centered" id="favourites-table">
            <caption><h5>Favourites</h5></caption>
            <thead>
                <tr class="bg-dark text-white">
                    {% for header in fav_table_headings %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for data in fav_list %}                
                    <tr>
                        <td>{{ data['time']|safe }}</td>
                        <td data-bs-toggle="tooltip" 
                            data-bs-placement="bottom" 
                            title={{ data['hash'|safe] }}>
                            <a href="https://etherscan.io/tx/{{data['hash']}}" target="_blank">{{ shorten2(data['hash']) }}</a>
                        </td>
                        <td data-bs-toggle="tooltip" 
                            data-bs-placement="bottom" 
                            title={{ data['to'|safe] }}>
                            <a href="https://etherscan.io/address/{{data['to']}}" target="_blank">{{ shorten(data['to']|safe) }}</a>
                        </td>
                        <td data-bs-toggle="tooltip" 
                            data-bs-placement="bottom" 
                            title={{ data['from'|safe] }}>
                            <a href="https://etherscan.io/address/{{data['from']}}" target="_blank">{{ shorten(data['from']|safe) }}</a>
                        </td>
                        <td data-bs-toggle="tooltip" 
                            data-bs-placement="bottom" 
                            title={{ data['value'|safe] }}>{{ data['value'] }}</td>
                        <td>
                            <a href="https://etherscan.io/address/{{data['contract_address']}}" target="_blank">{{ data['token_symbol']}}</a>
                        </td>
                        <td>{{ data['gas_price']|safe }}</td>
                        <td>{{ data['note']|safe }}</td>
                        <td>
                            <a href="{{ url_for('favourite', transaction_id=data._id) }}"><i class="material-icons-outlined">edit</i></a>
                        </td>
                        <td>
                            <!-- Delete Confirmation Trigger Structure -->
                            <a class="waves-effect waves-light modal-trigger" data-id="{{ data._id }}" data-target="delete{{ data._id }}"><i class="material-icons">delete_outline</i></a>

                            <!-- Delete Confirmation Modal Structure -->
                            <div id="delete{{ data._id}}" class="modal" >
                                <div class="modal-content">
                                <h4>Are you sure you would like to cancel?</h4>
                                <p>This action cannot be reversed.</p>
                                </div>
                                <div class="modal-footer">
                                <a href="{{ url_for('delete_fav', transaction_id=data._id) }}" class="modal-close waves-effect waves-green btn-flat">Delete</a>
                                <a href="#" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container-fluid" id="search-container">
        <table class="responsive-table highlight centered" id="search-table">
            <caption>
                <h5>All Transactions</h5>
                <a href="{{ url_for('search') }}" class="waves-effect waves-light btn-small">Search</a>
                <!-- Reset Confirmation Trigger Structure -->
                <a class="waves-effect waves-light modal-trigger btn-small" data-target="reset-confirmation">Reset</a>

                <!-- Reset Confirmation Modal Structure -->
                <div id="reset-confirmation" class="modal" >
                    <div class="modal-content">
                    <h4>Are you sure you would like to reset your transactions?</h4>
                    <p>Don't worry, your favourites will remain visible.</p>
                    <p>This action cannot be reversed.</p>
                    </div>
                    <div class="modal-footer">
                    <a href="{{ url_for('clear')}}" class="modal-close waves-effect waves-green btn-flat">Reset</a>
                    <a href="#" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                    </div>
                </div>
            </caption>
            <thead>
                <tr class="bg-dark text-white">
                    {% for header in transaction_table_headings %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for data in transactions_list %}                
                    <tr>
                        <td>{{ data['time']|safe }}</td>
                        <td data-bs-toggle="tooltip" 
                            data-bs-placement="bottom" 
                            title={{ data['hash'|safe] }}>
                            <a href="https://etherscan.io/tx/{{data['hash']}}" target="_blank">{{ shorten2(data['hash']) }}</a>
                        </td>
                        <td data-bs-toggle="tooltip" 
                            data-bs-placement="bottom" 
                            title={{ data['to'|safe] }}>
                            <a href="https://etherscan.io/address/{{data['to']}}" target="_blank">{{ shorten(data['to']|safe) }}</a>
                        </td>
                        <td data-bs-toggle="tooltip" 
                            data-bs-placement="bottom" 
                            title={{ data['from'|safe] }}>
                            <a href="https://etherscan.io/address/{{data['from']}}" target="_blank">{{ shorten(data['from']|safe) }}</a>
                        </td>
                        <td data-bs-toggle="tooltip" 
                            data-bs-placement="bottom" 
                            title={{ data['value'|safe] }}>{{ data['value'] }}</td>
                        <td>
                            <a href="https://etherscan.io/address/{{data['contract_address']}}" target="_blank">{{ data['token_symbol']}}</a>
                        </td>
                        <td>{{ data['gas_price']|safe }}</td>
                        <td>{{ data['gas_used']|safe }}</td>
                        <td>
                            <a href="{{ url_for('favourite', transaction_id=data._id) }}"><i class="material-icons">favorite_border</i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



<div class="container center">
    <h2>Session Variables: {{ session['logged_in'] }}</h2>
    <h4>{{ session['user']['name']}}'s Profile</h4>
    <p>{{ session['user'] }}</p>
</div>


{% endblock %}