{% extends 'base.html' %} {% block title %}Home{% endblock %}

{% block content %}

<h2>Session Variables: {{ session['logged_in'] }}</h2>

<h4>{{ session['user']['name']}}'s Profile</h4>

<p>{{ session['user'] }}</p>

<div class="container-fluid">
    <form method="POST" id="add-transactions">
        <h5>Enter an Ethereum public address in order to view transactions:</h5>
        <div class="form-group">
            <div class="form-control">
                <input type="text" id="search-address" name="search-address"/>
                <button type="submit">View Transactions</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}