{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}

{% if session['user'] %}
<h6>You are currently logged in as {{session['user']['name']}}</h6>
<a class="btn-small" href="/hashboard">Return to hashboard</a>
{% else %}
<form method="POST" id="login-form">
    <h3 align="center">Log In.</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" required/>
    </div>
    <div class="form-control">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required/>
    </div>
    <button type="submit" class="waves-effect waves-light btn-small" id="btn-login">Log In</button>
</form>
{% endif %}
    
{% endblock %}