{% extends "base.html" %} {% block title %}Add transactions{% endblock %}

{% block content %}

<div class="container-fluid">
    <form method="POST" id="add-address-form">
        <h5>Search an ethereum public address:</h5>
        <div class="form-group">
            <div class="form-control">
                <input type="text" id="search-eth" name="search-eth"/>
                <button id="search-submit" class="waves-effect waves-light btn-small" type="submit">Search</button>
                <a class="waves-effect waves-light btn-small" href="{{ url_for('hashboard') }}">Back</a>
            </div>
        </div>
    </form>
</div>

<div id="loading"></div>

{% endblock %}